.u1{
    width: 70%;
    height: 70%;
    padding: 10px;
}

.u2{
    width: 70%;
    height: 70%;
    padding: 10px;
}

.btn{
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
}






